* {
  margin: 0;
  border: 0;
  padding: 0;

  font-family: "Comic Sans MS";
}

body {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  background-color: rgb(240, 116, 157);
}

#canvas {
  border-color: black;
  border-style: dashed;
  border-width: 3px;
}